section#titulo {
    background-color: #ffffff;
    position: relative;
    max-width: 1300px;
    height: 80px;
    min-width:350px;
    top: 0em;
    z-index: 1;
    border-radius: 0em 0em 2em 2em;
    margin-left: auto;
    margin-right: auto;
    
}




section#logar{
    background-color:rgb(255, 255, 255);
    margin-top: 8em;
    height: 370px;
    padding-top: 4em;
}
section#logar a {
    margin-left: 5em;
}

/*.centralizado{
    margin: 0 auto;
}*/
section#titulo h1{
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    padding-top: 10px;
}

body {

background-color:#6A5ACD ;

}

.page-footer{
    background-color: rgb(24, 9, 39);
}


#menu div{
    height: 65px;
    background-color: darkslateblue;
    padding-top:15 px ;
   
#menu ul li{
    font-weight: 500;
    
}
