body {
  background-color: #6A5ACD;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
h3 {
  text-align: center;
  border-style: none;
  background-color:#FFF5EE;
  border-radius: 0 0 1em 1em;
  height: 90px;
  width: 400px; 
  margin: 0em;
  font-family: 'Roboto', sans-serif;
  color: #6A5ACD;
  font-size: 45px;
}

header p {
    color: #FFF5EE;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 30px;
    margin: 0em;
}
div p {
    color: #FFF5EE;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 30px;
    margin: 0em; 
}
button {
 flex-direction: column;
}